@import url('../../p_styles.css');

#main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 12em);
    overflow: auto;
    width: 100%;
}

#left{
    width: 100%;
}

#right{
    width: 100%;
    height: 50%;
}
agm-map{
    height: 15em;
}

.selectbox{
    width: 10em;
}

.opciones{
    width: 10em;
}
#bg-rojo{
    background-color: var(--color-Red);
    color: white;
}

.form-radius {
    border: 1px solid var(--color-Red);
    border-radius: 1em;
  }
  
.form-radius:focus {
    box-shadow: none;
}

#tabla{
    width: 100%;
}

thead tr th {     
    background-color: var(--color-Red);
    color: white;
    text-align: center;  
    position: sticky;
    top: 0;
    z-index: 10;  
    box-shadow: 0 0 0 1px #dee2e6; 
}

.table tbody tr td{
    text-align: center; 
    vertical-align: middle;
}

@media screen and (min-width: 769px){
    #main{
        flex-direction: row;
    }
    
    #left{
        width: 60%;
        margin-right: 1em;
    }
    
    #right{
        width: 40%;
    }

    agm-map{
        height: calc(100vh - 12em);
    }
}

