<div class="d-flex justify-content-center align-items-center">
  <h1>Permission</h1>
</div>
<div id="main">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="btn btn-1 btn-tab active" id="nav-permisos-tab" data-toggle="tab" href="#nav-permisos" role="tab" aria-controls="nav-permisos" aria-selected="true">
        Permissions</a>
    <a class="btn btn-1 btn-tab" id="nav-revision-tab" data-toggle="tab" href="#nav-revision" role="tab" aria-controls="nav-revision" aria-selected="false">
        Review Permissions</a>   
    </div>
</nav>
<div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-permisos" role="tabpanel" aria-labelledby="nav-permisos-tab">
        <app-p_permisos1></app-p_permisos1>
    </div>
    <div class="tab-pane fade" id="nav-revision" role="tabpanel" aria-labelledby="nav-revision-tab">
        <app-p_permisos2></app-p_permisos2>
    </div>
</div>
</div>