<div class="main">
  <section id="top">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="../../../../assets/images/Image.jpg" width="100%"/>
      <button class="btn btn-sm btn-round btn-5 mt-1">
        <i class="icon icon-picture1 ml-2 mr-2"></i>
        <span class="inp-text mr-2">Load Image</span>
      </button>
    </div>
    <div id="top-right" class="mt-2">
      <div class="inp-control input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">Company Name</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="inp-control input-group input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Identification</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="inp-control input-group input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">User Login</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="inp-control input-group input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="inp-control input-group input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="inp-control input-group input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Main</span>
        </div>
        <input type="text" class="form-control form-control-radius " required> 
      </div>
      <div class="d-flex">
        <button class="btn btn-sm btn-round btn-3 mt-1 ml-auto">
          <i class="icon icon-pencil4 ml-2 mr-2"></i>
          <span class="inp-text mr-2">Load Image</span>
        </button>
      </div>      
    </div>   
  </section>
  <section id="bottom">
    <div class="mt-3">
      <h3>Activated Services</h3>
    </div>
    <table class="table table-hover table-bordered table-sm mt-2">
      <thead class="bg-white">
        <tr>    
          <th scope="col">Service Name</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>Administracion</td>         
        </tr>
        <tr>
          <td>Administracion</td>
        </tr>  
      </tbody>
    </table>  
    
  </section>
</div>