<div class="d-flex justify-content-center align-items-center">
  <h1>Routes</h1>
</div>
<div id="main">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="btn btn-1 btn-tab active" id="nav-assign-tab" data-toggle="tab" href="#nav-assign" role="tab" aria-controls="nav-assign" aria-selected="true">
            <i class="icon icon-assignment"></i>
            <span class="ml-1">Assigned Routes</span></a>
        <a class="btn btn-1 btn-tab" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">
            <i class="icon icon-assignment"></i>
            <span class="ml-1">Routes Review</span></a>   
        <a class="btn btn-1 btn-tab" id="nav-completed-tab" data-toggle="tab" href="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">
            <i class="icon icon-assignment"></i>
            <span class="ml-1">Completed Routes</span></a>   
    </div>
</nav>
<div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-assign" role="tabpanel" aria-labelledby="nav-assign-tab">
        <app-v_check1></app-v_check1>
    </div>
    <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
        <app-v_check2></app-v_check2>
    </div>
    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
        <app-v_check3></app-v_check3>
    </div>
</div>
</div>