.main{
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
}
.header-nav{
    display: flex;
    background-color: #233656;
    height: 3em;
}
#icon{
    display: none;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.btn-icon{  
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  width: 2em;
}
.btn-icon:hover{
    color: #415B76;
    background-color: rgba(0, 0, 0, 0.1);
}
.btn-icon:focus, .btn-icon:active{
    background-color: transparent;
}

#btn-Close{
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    margin-right: 0.5em;
    align-self: center;
    color: white;
    width: 1.5em;
    height: 1.5em;
}

#btn-Close:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color:  #415B76;
}

#container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3em);
    width: 100%;
    z-index: -1;
}

.nav{
    display: flex ;
    flex-direction: column;
}

#navContent{
    background-color: #233656;    
    position: absolute;
    top: 3em;
    z-index: 1000;
    width: 100%;
    display: none;
}
#navContent nav{
    width: 100%;
}

.itemNav{
    display: flex;
    align-items: center;
    padding: 0.7em;
    text-decoration: none;
    color: white;
}
.itemNav:hover{
    background-color: #415B76;
}

#container> main{
    width: 100%;
    height: calc(100vh - 3em);
    padding: 0.5em;
    overflow-y: scroll;
}

#home{
    height: calc(100vh - 5em);
}

#panel{
    display: none;
}

@media screen and (min-width: 769px){
    .header-nav{
        height: 2.5em;
    }
    #icon{
        display: block;
    }
    .btn-icon{
       display: none;
      }
    #container{
        flex-direction: row;
        height: calc(100vh - 2.5em);
    }
    
    #navContent{
        position: relative;
        top: 0;
        z-index: 0;
        width: 15%;    
        display: block !important;  
        display: flex;
    }
    
    #container> main{
        width: 87%;
        height: calc(100vh - 2.5em);
    }
    #panel{       
        position: absolute;       
        bottom: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #panel>span{
        color: white;
    }
}







