<div class="d-flex justify-content-center align-items-center">
  <h1>Permission</h1>
</div>
<div id="main">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="btn btn-1 btn-tab active" id="nav-permisos1-tab" data-toggle="tab" href="#nav-permisos1" role="tab" aria-controls="nav-permisos1" aria-selected="true">
            Permit</a>
        <a class="btn btn-1 btn-tab" id="nav-permisos2-tab" data-toggle="tab" href="#nav-permisos2" role="tab" aria-controls="nav-permisos2" aria-selected="false">
            Staff</a>   
        </div>
    </nav>
    <div class="tab-content p-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-permisos1" role="tabpanel" aria-labelledby="nav-permisos1-tab">
            <app-v_permisos1></app-v_permisos1>
        </div>
        <div class="tab-pane fade" id="nav-permisos2" role="tabpanel" aria-labelledby="nav-permisos2-tab">
            <app-v_permisos2></app-v_permisos2>
        </div>
    </div>
</div>