<div id="main" class="flx-center flx-column">
  <div id="left" class="flx-center">
      <img src="../../assets/images/LogoEskat.png" alt="">
  </div>
  <div id="right" class="flx-center">
      <form id="r-div" class="flx flx-column" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)" autocomplete="off">            
          <h1>{{'bienvenido'|translate}}</h1>            
          <input type="text" class="input-text" name="User" placeholder="{{'user'|translate}}" [(ngModel)]="User.user" 
          [ngClass]="{'is-invalid': userEmpty }" required>        
          <input type="password" class="input-text" name="Pass" placeholder="{{'pass'|translate}}" [(ngModel)]="User.pass"
          [ngClass]="{'is-invalid': passEmpty }"  required autocomplete="">                   
          <button type="submit" class="button btn1">{{'login'|translate}}</button>               
        </form>
  </div>
</div>
<ngx-spinner size = "medium" color = "#fffff" type = "square-jelly-box">
  <p class="white m3"> {{ 'loading' | translate}} </p>
</ngx-spinner>


<!--<div class="alert alert-danger" role="alert" *ngIf="isError">
  <div id="div-Alert">
    <div class="img-Alert" ></div>
    <div class="align-self-center">{{ 'data-incorrect'|translate }}</div>
  </div>                               
</div>-->