@import url("../appAdmin/a_styles.css");

#main{
    height: 100%;
    width: 100%;
}

#left{
    background: #2c3e50;
    background: -webkit-linear-gradient(to right, #2c3e50, #3498db);
    background: linear-gradient(to right, #2c3e50, #3498db);    
    height: 35%;
    width: 100%;
}

#left img{
    width: 70%;
}

#right{
    background-color: rgb(241, 242, 245);
    height: 65%;
    width: 100%;
}

#r-div{
    width: 70%;
}

h1{
    font-size: 1.5em;
} 
.input-text{
    border-color: #ced4da;
}
.input-text.ng-valid.ng-touched{
    border-color: #ced4da;
}

@media screen and (min-width:576px){
    #main{
      flex-direction: row;
    }
    #left{
        height: 100%;
        width: 50%;
    }
    #left img{
        width: 80%;
    }
    #right{
        height: 100%;
        width: 50%;
    }
    h1{
        font-size: 2em;
    }
}

@media screen and (min-width:1044px){
    #r-div{
        width: 50%;
    }
    #left img{
        width: 85%;
    }
    h1{
        font-size: 2.5em;
    }
}