#bar{ 
    justify-content: center;
    align-items: center;
    background-color: var(--color-SteelBlue);
    font-weight: bold;
    font-size: 1.5em;
    height: 2em;
    width: 100%;    
}

#container{
    background-color: #F0F0F0;
    height: calc(100vh - 3em);
    width: 100%;  
}
.tab-content{
    background-color: #fff;
    height:  calc(100vh - 8em);
    overflow: hidden;
}