.main{
    height: 100%;
    width: 100%;
}
.header-nav{
    display: flex;
    background-color: #C20000;
    height: 3em;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.btn-icon{  
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  width: 2em;
}
.btn-icon:hover{
    color: #730202;
    background-color: rgba(0, 0, 0, 0.1);
}
.btn-icon:focus, .btn-icon:active{
    background-color: transparent;
}

#btn-Close{
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: 0.5em;
    align-self: center;
    color: white;
    width: 1.5em;
    height: 1.5em;
}

#btn-Close:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color:  #730202;
}

#container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3em);
    width: 100%;
    z-index: -1;
}

.nav{
    display: flex ;
    flex-direction: column;
}

#navContent{
    background-color: #730202;    
    position: absolute;
    top: 3em;
    z-index: 3;
    width: 100%;
    display: none;
}
#navContent nav{
    width: 100%;
}

.itemNav{
    display: flex;
    align-items: center;
    padding: 0.7em;
    text-decoration: none;
    color: white;
}
.itemNav:hover{
    background-color: #C20000;
}

#container> main{
    width: 100%;
    height: calc(100vh - 3em);
    padding: 0.5em;
    overflow-y: scroll;
}

#home{
    height: calc(100vh - 5em);
}

@media screen and (min-width: 769px){
    .header-nav{
        height: 2.5em;
    }
    .btn-icon{
       display: none;
      }
    #container{
        flex-direction: row;
        height: calc(100vh - 2.5em);
    }
    
    #navContent{
        position: relative;
        top: 0;
        z-index: 0;
        width: 13%;    
        display: block !important;
    }
    
    #container> main{
        width: 87%;
        height: calc(100vh - 2.5em);
    }
}




























/*nav{
    height: 4em;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 4em);
}
main{
    position: absolute;
    height: calc(100vh - 4em);
    top: 4em;
    z-index: -1;
    width: 100%;
}
#nav{
    position: absolute;
    top: 4em;
    z-index: 1;
}
@media screen and (min-width: 769px){
    .container{
        flex-direction: row;
    }
    main{
        position: relative;
        z-index: 1;
        width: 70%;
    }
    #nav{
        height: calc(100vh - 4em);
        width: 25%;
        position: relative;
        z-index: 0;
        top: 0;
    }
    
.collapse:not(.show) {
    display: block;  
  }
}
*/