/* You can add global styles to this file, and also import other style files */
@import url("./assets/icons/style.css");
@import url("./app/components/appAdmin/a_styles.css");
@import url("./app/components/appPersonal/p_styles.css");

:root {
    --color-Disabled: #848484 !important;
    --color-Font: white !important;
    --color-Font-Disabled: rgb(58, 58, 58) !important;
    --color-WhiteSmoke: whiteSmoke;   
    --color-Config: #5AA529;
    --color-Config-Hover: #73CE31;
    --color-Personal: #840808;
    --color-Personal-Hover: #AD2108;
    --color-Inventario: #085AA5;
    --color-Inventario-Hover: #217BBD;    
    --color-Vehicular: #213152;
    --color-Vehicular-Hover: #21527B;
    --color-Reportes: #8C5AD6;
    --color-Reportes-Hover: #AD84DE;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{            
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn-round{
    border-radius: 2rem;
}

.img-Alert{
  padding: 1.3em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(0.75em + 1.375rem) calc(0.75em + 1.375rem);
}
.alert{
  padding: 0.35rem 0rem;
}

#div-Alert{
  display: flex;
}

.alert-info{ 
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important;
}
.icon-infos{
  color: #17a2b8 !important;
  font-size: 2em !important; 
}
.text-info{
  color: #0c5460 !important;
}
.alert-error{ 
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}
.icon-errors{
  color: #dc3545 !important;
  font-size: 2em !important; 
}
.text-error{
  color: #721c24 !important;
}
.alert-warning{
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}
.icon-warning{
  color: #ffc107 !important;
  font-size: 2em !important; 
}
.text-warning{
  color: #856404 !important;
}
.alert-success{
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}
.icon-success{
  color: #28a745 !important;
  font-size: 2em !important; 
}
.text-success{
  color: #155724 !important;
}