<div class="d-flex align-items-center">
  <img src="../../../../assets/images/Pedido_max.png"/>
  <h3 class="font-weight-bold ml-2">Orders</h3>
</div>
<div class="d-flex mb-2 mt-2">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">Group</span>
    </div>
    <div class="selectbox">
      <div class="selection" id="selection1" onclick="Select1()">
          <div class="contenido-select">
            <span class="texto">Seleccione...</span>
          </div>
          <i class="icon icon-angle-down ml-3"></i>
      </div>
       <div class="opciones" id="opciones1">
         <a class="opcion" *ngFor="let item of miArray" onclick="CloseSelect1()">
           <div class="contenido-opcion" id="opcionSelect">
              <span class="texto">{{item}}</span>
           </div>
          </a>
       </div> 
    </div>  
    <input type="hidden" #selected3 id="inputSelect" value=""/>    
  </div> 
  <button class="btn btn-sm btn-3 btn-radius pl-3 pr-3 ml-auto">
    <i class="icon icon-plus mr-1"></i>
    <span>New</span>
  </button>    
</div>
<div class="d-flex mt-2">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">Search</span>
    </div>
    <input type="text" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-1 btn-r">
        <i class="icon icon-search"></i>
      </button>      
    </div>
    <div class="input-group-append ml-1">
      <button class="btn btn-2 btn-square">
        <i class="icon icon-refresh"></i>
      </button>      
    </div>    
  </div>        
</div>
<div id="tabla">
  <table class="table table-sm table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Provider</th>
      <th scope="col">Application Date</th>
      <th scope="col">Deliver Date</th>
      <th scope="col">State</th>
    </tr>
    </thead>
    <tbody class="bg-white">
    <tr *ngFor="let country of countries; index as i">
      <td>{{ country.code }}</td>
      <td>{{ country.product }}</td>
      <td>{{ country.available }}</td>
      <td>{{ country.reserved }}</td>
      <td>{{ country.total }}</td>
    </tr>
    </tbody>
  </table> 
</div> 