<div class="main">
  <div class="header-nav">
    <button id="btnMenu" class="btn-icon" type="button" data-target="#navContent" onclick="BtnMenu()">
      <span class="icon-bars"></span>
    </button>
    <a class="nav-bar" href="">Personal Control</a>
    <button id="btn-Close" (click)="Cerrar()">
      <i class="icon icon-close"></i>
  </button>
  </div>
  <div id="container">
    <div id="navContent">
      <nav> 
        <div class="nav" id="nav-tab" role="tablist">
          <a class="itemNav" id="nav-employee-tab" data-toggle="tab" href="#nav-employee" role="tab" aria-controls="nav-employee" aria-selected="false" onclick="MenuCollapse()">
            <img src="../../../../assets/images/Personal.png" class="mr-2"/>Employees</a>
          <a class="itemNav" id="nav-shifts-tab" data-toggle="tab" href="#nav-shifts" role="tab" aria-controls="nav-shifts" aria-selected="false" onclick="MenuCollapse()">
            <img src="../../../../assets/images/Turno.png" class="mr-2"/>Shifts</a>
          <a class="itemNav" id="nav-records-tab" data-toggle="tab" href="#nav-records" role="tab" aria-controls="nav-records" aria-selected="false" onclick="MenuCollapse()">
            <img src="../../../../assets/images/Registros.png" class="mr-2"/>Records</a>
            <a class="itemNav" id="nav-permissions-tab" data-toggle="tab" href="#nav-permissions" role="tab" aria-controls="nav-permissions" aria-selected="false" onclick="MenuCollapse()">
              <img src="../../../../assets/images/Permisos.png" class="mr-2"/>Permissions</a>
            <a class="itemNav" id="nav-gps-tab" data-toggle="tab" href="#nav-gps" role="tab" aria-controls="nav-gps" aria-selected="false" onclick="MenuCollapse()">
              <img src="../../../../assets/images/Gps.png" class="mr-2"/>GPS</a>
            <a class="itemNav" id="nav-task-tab" data-toggle="tab" href="#nav-task" role="tab" aria-controls="nav-task" aria-selected="false" onclick="MenuCollapse()">
              <img src="../../../../assets/images/Tareas.png" class="mr-2"/>Task</a>
        </div>
      </nav>
    </div>
  
    <main class="">
    <div class="tab-content p-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div id="home" class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../../../assets/images/LogoEskat.png" width="80%"/>
            <h3 class="font-weight-bold mt-3">Personal Control</h3>
            <h6>www.eskat-usa.com</h6>
          </div>         
        </div>
        <div class="tab-pane fade" id="nav-employee" role="tabpanel" aria-labelledby="nav-employee-tab">      
          <app-p-employees></app-p-employees>
        </div>
        <div class="tab-pane fade" id="nav-shifts" role="tabpanel" aria-labelledby="nav-shifts-tab">
          <app-p_turnos></app-p_turnos>
        </div>
        <div class="tab-pane fade" id="nav-records" role="tabpanel" aria-labelledby="nav-records-tab">
          <app-p_registros></app-p_registros>
        </div>
        <div class="tab-pane fade" id="nav-permissions" role="tabpanel" aria-labelledby="nav-permissions-tab">
          <h1>Permissions</h1>
        </div>
        <div class="tab-pane fade" id="nav-gps" role="tabpanel" aria-labelledby="nav-gps-tab">
          <h1>GPS</h1>
        </div>
        <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
          <h1>Task</h1>
        </div>
      </div>
    </main>
  </div>
</div>