<div class="d-flex justify-content-center align-items-center">
  <h1>GPS</h1>
</div>
<div id="main">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="btn btn-1 btn-tab active" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="true">
        Addresses</a>
    <a class="btn btn-1 btn-tab" id="nav-employees-tab" data-toggle="tab" href="#nav-employees" role="tab" aria-controls="nav-employees" aria-selected="false">
        Employees</a>   
    </div>
</nav>
<div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
      <app-p_gps1></app-p_gps1>
    </div>
    <div class="tab-pane fade" id="nav-employees" role="tabpanel" aria-labelledby="nav-employees-tab">
      <app-p_gps2></app-p_gps2>
    </div>
</div>
  
</div>