@import url('../v_styles.css');

#main{
    width: 100%;
    overflow: hidden;
}
.selectbox{
    width: 10em;
}
.opciones{
    width: 10em;
}
#opciones1{
    z-index: 500 !important;
}
#opciones2{
    z-index: 300 !important;
}
.form-text{
    border-color: var(--color-BlueDark);
}

#div{
    display: flex;
    flex-direction: column;
}
#div button span{
    display: none;
}
#div2{
    margin-top: 0.5em;
}

#tabla{
    width: 100%;
    height: calc(100vh - 16em);
    overflow: scroll;
}

thead tr th {     
    background-color: var(--color-BlueDark);
    color: white;
    text-align: center;  
    position: sticky;
    top: 0;
    z-index: 10;  
    box-shadow: 0 0 0 1px #dee2e6; 
}

.table tbody tr td{
    text-align: center; 
    vertical-align: middle;
}

@media screen and (min-width: 576px){
    #div{
        flex-direction: row;
    }
    #div button span{
        display: inline-block;
    }
    #div2{
        margin-top: 0em;
        margin-left: 5px;
    }
    
    #tabla{
        height: calc(100vh - 13.5em);
    }
}